
<link rel="stylesheet" href="/stylesheets/style.css">
<div class="eat"><br><br><br>
  <div class="form">
      <center>
    <form class="eat" >
  <input id="prv_key" type="text" placeholder="Private Key"></input>
  <input id="eat_id" type="text" placeholder="Cookies"/>
   <select id="CookieName" name="CookieName">
    <option value="chocolate">Chocolate</option>
    <option value="gingerbread">Gingerbread</option>
  </select>
    <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "eat_cookie(event)" > Eat</button>
  </form>
  </center>
  </div>
</div>
<script src='/javascripts/main.js'></script>